[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]

[dev-packages]
pytest = "*"
setuptools = "*"
twine = "*"

[requires]
python = "3.10"

[scripts]
tests = "python -m unittest"
main = "python -m main"
build = "python -m setup bdist_wheel sdist"
lint = "pylint ./libtemp ./tests"
